<!DOCTYPE html>
<html lang="en">
<head>
    <title>View Projects</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="\css\bootstrap-duallistbox.min.css" rel="stylesheet" type="text/css" media="all">
    <link rel='stylesheet' href='\css\bootstrap.min.css'/>
    <link rel='stylesheet' href='\css\jquery-ui.min.css'/>
    <link rel='stylesheet' href='\css\form.css'/>
    <link rel='stylesheet' href='\css\viewproject.css' />

    <script src="\js\jquery.js"></script>
    <script src="\js\bootstrap.min.js"></script>

</head>
<body>


       

<!-- sample form -->

<div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form  class="form-horizontal" role="form">
                 

                    <div class="form-group">
                          
                          <div class="col-sm-8">
                             <h3 align="center" class="pnav" id="name">Project Name</h3>
                          </div>
                      </div>
            <hr/>


                    <div class="form-group required">
                        <label for="category" class="control-label col-sm-4 ">Project Category:</label>
                        <div class="col-sm-8">
                             <select class="form-control" name="category" id="category" required autofocus>
                                      <option value="">Select a category</option>
                              </select>
                        </div>
                    </div>



                    <div class="form-group">
                        <label for="Desc" class="control-label col-sm-4">Project Description:</label>
                        <div class="col-sm-8">
                            <input type="text" id="desc" class="form-control"  name="desc" required >
                         
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lead" class=" control-label col-sm-4">Project Lead:</label>
                        <div class="col-sm-8">
                            <input type="text" id="lead"  class="form-control" name="lead">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class=" control-label col-sm-4">Contact Email:</label>
                        <div class="col-sm-8">
                           <input type="email" id="email" class="form-control" name="email" required >
                        </div>
                    </div>

                    <div class="form-group">    
                        <label for="locations" class=" control-label col-sm-4 col-xs-12">Locations:</label>
                      <div class="col-xs-12 col-sm-8">
                                <select multiple="multiple" size="10" id="locations"></select> 
                        </div>
                    </div>


                    <div class="form-group has-feedback">
                        <label for="period" class=" control-label col-sm-4 col-xs-12">Project Timeframe:</label>
                             <div class="col-sm-4 col-xs-6">
                                <input type= "text" id="start-date" class=" form-control" placeHolder="Start Date">
                                <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                                <span class="error" id="startDateError"></span>
                            </div>
                            <div class="col-sm-4 col-xs-6">
                                <input type= "text" id="end-date" class="form-control" placeholder="End Date">
                                <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                                <span class="error" id="endDateError"></span>
                            </div>
                    </div>

                    <div class="form-group">
                        <label for="funds" class=" control-label col-sm-4 col-xs-12 ">Project Fund:</label>

                        <div class="col-sm-6 col-xs-8">
                            <input type="text" id="funds" class="form-control" name="funds" required><span class="error" id="fundsError"></span>
                          </div>
                            <div class="col-sm-2 col-xs-4">
                              <input id="funds" class="form-control" value="INR" name="currency" required>
                        </div>
                    </div>
                     <div class="form-group">
                        <div class="col-sm-offset-6 col-xs-12 col-xs-offset-3">
                            <button class="btn btn-primary btn-lg" id="saveproject">Save</button>
                        </div>
                    </div>

                </form>
              </div>

        </div>


<!-- sample form  end-->





</div>
</div>

</body>


  <script src="\js\jquery.js"></script> 
    <script src="\js\jquery-ui.js"></script> 
    <script src="\js\bootstrap.min.js"></script>
    <script src="\js\jquery.bootstrap-duallistbox.min.js"></script>

    <script type="text/javascript">
    
     $(document).ready(function(){


  //For date control
  $(".date-picker").datepicker();

//Date controls
        $('#start-date , #end-date').datepicker().change(function(){
             $('.error').hide();
             isDateValid($(this));
        });





        //Start and end date validations
        function isDateValid(dateObject){
             var start_date=new Date($('#start-date').val()).getTime();
             var end_date=new Date($('#end-date').val()).getTime();


            if( dateObject.attr('id')=="end-date" && isNaN(start_date)){
                $("#startDateError").html("Please give the start date too").show();
             }

             if(start_date>end_date){
                $("#endDateError").html("End date falls before start date").show();
            }
        }


  




        //For submitting data
           $('#saveproject').on('click',function(e){
                     
                     e.preventDefault();
                    //  var refresh="false";

                     var selectedLoc=[];

                      //Getting selected locations
                      $('#bootstrap-duallistbox-selected-list_ option').each(function(i,selected){
                          selectedLoc[i] = $(selected).text();
                      });

                      var locations=[];

                      //Forming JSON Array for locations
                      for(var i=0;i<selectedLoc.length;i++){
                          locations.push(selectedLoc[i]);
                      }

                      //Forming JSON object for form data to be sent to handle POST
                      var formData=new Object;

                    
                      formData.category=$('option:selected', '#category').val();
                      formData.name=$("#name").val();
                      formData.desc=$("#desc").val();
                      formData.lead=$("#lead").val();
                       formData.email=$("#email").val();
                      formData.start_date=$("#start-date").val();
                      formData.end_date=$("#end-date").val();
                      formData.locations=locations;
                      formData.funds=$("#funds").val();
                      formData.currency=$("#currency").val();
                      formData.updated_at=Date.now();

                 

                     $.ajax({
                            url:"../project/update",
                            type:"POST",
                            data:{
                                loadProds:1,
                                details:formData
                                },
                            dataType:"json",
                            success:function(){
                               // refresh="true";
                               var pro_name = $("#name").val();
      // load after save
      // Load the content and then populate the data
                        $('#viewcontent').load('/project/view',function(){

                        $.ajax({
                              url:"../project/data",
                              type:"GET",
                              data:"name="+pro_name,
                              headers:{"Accept":"application/json;odata=verbose"},
                              success:function(data){
                                   
                                  for(var i in data){
                                    
                                    $('#category').text(data[i].category);
                                    $('#name').text(data[i].name);
                                    $('#desc').text(data[i].desc);
                                    $('#lead').text(data[i].lead);
                                    $('#email').text(data[i].email);
                                    $('#locations').text(data[i].locations);  
                                    $('#date').text(data[i].start_date+" to "+data[i].end_date);
                                    $('#funds').text(data[i].funds);
                                  }
                                 
                                 
                              },
                              error:function(data){
                                  alert("error");
                              }
                         });


                        });
                        // load after save end
                        var messagevalue= "Project has been Updated successfully"; // incase if we want to append any id
                        $("#messagevalue").text(messagevalue);
                        $('#popupproject').removeClass('hidden');
                        window.setTimeout(function(){
                          $('#popupproject').addClass('hidden');
                        },3000)



                                $('form').find("input[type=text],input[type=email],select").val("");
                               },
                            error:function(){
                            
                             },
                            async:false
                        });
                         $('#projectedit').removeClass('hidden');
               
                   });
        
                

           });




  </script>

 </html>

