<!DOCTYPE html>
<html lang="en">
<head>
    <title>View Projects</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='\css\bootstrap.min.css'/>
    <link rel='stylesheet' href='\css\jquery-ui.min.css'/>
    <link rel='stylesheet' href='\css\form.css'/>
    <link rel='stylesheet' href='\css\profile.css' />
    <link rel='stylesheet' href='\css\bootstrap-theme.min.css' />
    


</head>
<body>


 <!--code for navigation bar-->
     <div class="navbar navbar-default navbar-fixed-top navbar-home" >
      <div class="container">
        <div class="navbar-header">

          <a class="navbar-brand" href="/home"> Marina Project Management</a>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
          </button>
        </div>  
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right ">
            <li><a href="/about">About</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/signout">Log Out</a></li>         
          </ul>
        </div>
      </div>
    </div>
       

      
    <!-- Jumbotron -->
    <div class="jumbotron">
        <div class="container">
        <h3 class="lead"><strong>Edit/Delete Project Details</strong></h3>
        </div>
    </div>
             
    <div class="container">



          <div id="prosuccess" class="hidden">  
              <span class="success-msg">       
                 <h4 id="messageupdate">Project has been updated successfully!!!!!<span class="glyphicon glyphicon-ok"></h4> 
              </span> 
         </div>
        <div id="prodelete" class="hidden">  
              <span class="success-msg">       
                 <h4 id="messagedelete">Project has been deleted successfully!!!!!<span class="glyphicon glyphicon-ok"></h4> 
              </span> 
         </div>

         <!--navigation bar for projects-->      
         <div class="row">
              <div class="col-sm-3 colldiv">
                <div class="sidebar-nav">
                  <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                      </button>
                      <span class="visible-xs navbar-brand">Projects</span>
                    </div>
                    <div class="collapse navbar-collapse sidebar" id="sidebar">
                      <ul id="projectlist" class="nav navbar-nav pagination-sm">  
                         <!--project list goes here-->
                      </ul>
                    </div><!--nav-collapse -->
                  </div>
                </div>
              </div>

             
        <!--Action drop down-->
        <div  id="mainprojectcontent" >
              <div class="col-md-8">
                  <div class="col-md-4 col-md-offset-8" align="right">
                      <div class="btn-group" align="right">
                         <button class="btn btn-primary">Action</button> 
                         <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
                            <span class="caret"></span>
                         </button>
                         <ul class="dropdown-menu">
                            <li ><a id="projectedit" href="#">Edit</a> </li>
                            <li class="divider"></li>
                            <li> <a id="projectdelete" href="#">Delete</a></li>
                         </ul>
                       </div>
                  </div>
                </div>

                
                <!--Main pane-->
                <div id="viewcontent" class="col-sm-8 panel panel-default"></div>
       </div>
  </div>
  </div>
        <div>
            <div id='pagination-proj' class="navalign"></div>
        </div>

          <!--confirm modal for deletion-->
          <div class="modal fade" id="confirmModal">
              <div class="modal-dialog">
                  <div class="modal-content">

                      <div class="modal-header">
                        <h4 class="modal-title">Delete the record</h4>
                      </div>

                      <div class="modal-body">
                        <p>
                          Deleting the selected Project.Please confirm.
                        </p>
                        <!--Hidden field to store id of the record to be deleted-->
                        <input type="hidden" id="category">
                        <input type="hidden" id="name">
                      </div>

                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="remove">Delete</button>
                      </div>

                  </div>
              </div>
          </div>
          <!--confirm modal for deletion end-->

    <!-- Site footer -->
     <footer class="footer">
        <div class="container">
           <p> PayPal &copy; Powered By Marina</p>
        </div>
      </footer>

</body>

    
    <script src="\js\jquery.js"></script> 
    <script src="\js\jquery-ui.js"></script> 
    <script src="\js\bootstrap.min.js"></script>
    <script src="\js\jquery.bootstrap-duallistbox.min.js"></script>
    <script src="\js\jquery.quick.pagination.min.js"></script>
    <script src="\js\jquery.quick.pagination.js"></script>
    <script src="\js\jquery.twbsPagination.js"></script>
    <script src="\js\jquery.twbsPagination.min.js"></script>
    <script type="text/javascript">
    
     $(document).ready(function(){

               //Pagination code starts
               var rcount = 1;

               $.ajax({
    
                     url:"../project/count",
                     type:"GET",
                     data:'category=all',
                     headers:{"Accept":"application/json;odata=verbose"},
                     
                     success:function(data){

                             var rcount =data;
                             var pcount = (Math.ceil(rcount/10));
                             var visiblecount = (pcount>5)?5:pcount;
                             var pagcount =10;

                             $('#pagination-proj').twbsPagination({
                                  totalPages: pcount,
                                  visiblePages: visiblecount,
                                  onPageClick: function (event, page) {
                 
                                       $.ajax({
                                              url:"../projects",
                                              type:"GET",
                                              data:'category=all',
                                              headers:{"Accept":"application/json;odata=verbose"},
                                              success:function(data){
                                                
                                                    if(data.length === 0){                              
                                                        var item=$('<li><a href="#">No Results</a></li><hr/>');
                                                        $('#projectlist').append(item);
                                                      }
                                                     else{

                                                         $('#projectlist li').each(function(){
                                                             $(this).remove();
                                                         });
                                                        $('hr').each(function(){
                                                             $(this).remove();
                                                         });
                                                        var j=0;
                                                        for(var i in data){
                                                               if(data[i] != ''){                                     
                                                                   if(i >= ((page-1)*pagcount) && i < (((page-1)*pagcount) + pagcount)){

                                                                    if(j===0)
                                                                        {
                                                                          j=1;
                                                                         var item=$('<li><a class= "highlight" href="#">'+data[i]+'</a></li><hr/>');
                                                                         $('#projectlist').append(item);
                                                                        }
                                                                          else{
                                                                            var item=$('<li><a href="#">'+data[i]+'</a></li><hr/>');
                                                                         $('#projectlist').append(item);
                                                                        }
                                                                    }
                                                                }
                                                        }


                                                         //To load the first record by default
                                                        $('#viewcontent').load('/project/view',function(){
                                                         
                                                              $.ajax({
                                                                    url:"../project/data",
                                                                    type:"GET",
                                                                    data:"name="+data[0],
                                                                    headers:{"Accept":"application/json;odata=verbose"},
                                                                    success:function(data){
                                                                         
                                                                        for(var i in data){
                                                                            $('#category').text(data[i].category);
                                                                            $('#name').text(data[i].name);
                                                                            $('#desc').text(data[i].desc);
                                                                            $('#lead').text(data[i].lead);
                                                                            $('#email').text(data[i].email);
                                                                            $('#locations').text(data[i].locations);  
                                                                            $('#date').text(((data[i].start_date).split('T'))[0]+" to "+ ((data[i].end_date).split('T'))[0]);
                                                                            $('#funds').text(data[i].funds);
                                                                        }                                                                     
                                                                    },
                                                                    error:function(data){
                                                                        alert("error");
                                                                    }
                                                               });
                                                         });//view content
                                                       } 
                                                  },
                                              error:function(data){
                                                   alert("error");
                                               }
                                            });
                                        }
                                    });//Pagination code ends here

                              },
                              error:function(data){
                                  
                                  alert("error");
                              }

                          });


   


                  // To populate project on main pane on click of a      
                  $("#projectlist").on('click','li',function(){

 
                         var project_name=$(this).text();

                          //To highlight the list item clicked
                            $('li').click(
                                function(){
                                    $('.highlight').removeClass('highlight');
                                    $(this).addClass('highlight');
                              });

                          // Load the content and then populate the data
                            $('#viewcontent').load('/project/view');
                            $.ajax({
                                  url:"../project/data",
                                  type:"GET",
                                  data:"name="+project_name,
                                  headers:{"Accept":"application/json;odata=verbose"},
                                  success:function(data){
                                       
                                      for(var i in data){
                                        $('#category').text(data[i].category);
                                        $('#name').text(data[i].name);
                                        $('#desc').text(data[i].desc);
                                        $('#lead').text(data[i].lead);
                                        $('#email').text(data[i].email);
                                        $('#locations').text(data[i].locations);  
                                        $('#date').text(data[i].start_date+"  to  "+data[i].end_date);
                                        $('#funds').text(data[i].funds);
                                      }
                                     
                                     
                                  },
                                  error:function(data){
                                      alert("error");
                                  }
                             });
                         
                         $('#projectedit').removeClass('hidden');
                     });


   
                   

                  //On click of edit action
                 $("#projectedit").on('click',function(e){
    
                          var cat = $("#category").text();
                          var pro = $("#name").text();
                          var desc= $("#desc").text();
                          var lead= $("#lead").text();
                          var email= $("#email").text();
                          var location = $("#locations").text();
                          var start_date = $("#date").text().slice(0,10);
                          var end_date = $("#date").text().slice(16,26);
                          var funds = $("#funds").text();
                      
                          $('#viewcontent').load('/project/editform',function(){

                                  $('#name').text(pro);
                                  $('#desc').val(desc);
                                  $('#lead').val(lead);
                                  $('#email').val(email);                 
                                  $('#funds').val(funds);
                                  $('#category').text(cat);
                                  $('#start-date').val(start_date);
                                  $('#end-date').val(end_date);


                                  //For populating locations list
                                  $.ajax({
                                        url:"../locations",
                                        type:"GET",
                                        headers:{"Accept":"application/json;odata=verbose"},
                                        success:function(data){

                                              var locarr = location.split(',')
                                            
                                              for(var i in data){
                                                 if(locarr.length === 0){

                                                     var item=$('<option>'+data[i]+'</option>');
                                                     $('#locations').append(item);  

                                                  }else{

                                                     if($.inArray(data[i], locarr)>-1) {
                                                          var item=$('<option selected="selected">'+data[i]+'</option>');
                                                          $('#locations').append(item);
                                                      }
                                                     else{
                                                          var item=$('<option>'+data[i]+'</option>');
                                                          $('#locations').append(item);
                                                     }
                                                  }

                                                }
                                           },
                                        error:function(data){
                                             alert("error");
                                         },
                                        async:false
                                 });

                               //For handling location list events
                               $('#locations').bootstrapDualListbox({
                                    bootstrap2compatible    : false,
                                    preserveselectiononmove : false,            // 'all' / 'moved' / false
                                    moveonselect            : true,             // true/false (forced true on androids, see the comment later)
                                    initialfilterfrom       : '',               // string, filter selectables list on init
                                    initialfilterto         : '',               // string, filter selected list on init
                                    helperselectnamepostfix     : '_helper',    // 'string_of_postfix' / false
                                    infotext: 'Showing all {0}',// text when all options are visible / false for no info text
                                    infotextfiltered        : '<span class="label label-warning">Filtered</span> {0} from {1}',// when not all of the options are visible due to the filter
                                    selectorminimalheight   : 100,
                                    showfilterinputs        : true,
                                    filterplaceholder       : 'Filter',
                                    filtertextclear         : 'show all',
                                    nonselectedlistlabel    : '',            // 'string', false
                                    selectedlistlabel       : '',            // 'string', false
                                    filteronvalues          : false             // filter by selector's values, boolean
                           });

                });

          $('#projectedit').addClass('hidden');
      });
                


        

          //On click of Action delete icon - show a modal confirm
          $("#projectdelete").on('click',function(e){
                  var cat = $("#category").text();
                  var pro = $("#name").text();
                  $("#confirmModal #category").val(cat);
                  $("#confirmModal #name").val(pro);
                  $('#confirmModal').modal('show')

          });

          //TO delete the record 
          $('#remove').on('click',function(e) {
               
                e.preventDefault();
                var formData=new Object;
                formData.name=$("#name").text();
                formData.category=$("#category").text();
                formData.updated_at=new Date();
                 
                  $.ajax({
                            url:"../project/delete",
                            type:"POST",
                            data:{
                                details:formData
                                },
                            dataType:"json",
                            success:function(data){

                                $('#confirmModal').modal('hide');
                                  var messagevalue= "Project has been deleted successfully"; // incase if we want to append any id
                                  $("#messagevalue").text(messagevalue);

                                  $('#prodelete').removeClass('hidden');
                                    window.setTimeout(function(){
                                      $('#prodelete').addClass('hidden');
                                      location.reload();
                                    },3000)

                                  
         
                                   $('form').find("input[type=text],input[type=email],select").val("");                            
                              },
                          error:function(){

                             },
                            async:false
                        });
                       
                        $("#mainprojectcontent").load();
     
               });

        });
  </script>

</html>

