<!DOCTYPE html>
<html lang="en">
<head>
    <title>View Projects</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="\css\bootstrap-duallistbox.min.css" rel="stylesheet" type="text/css" media="all">
    <link rel='stylesheet' href='\css\bootstrap.min.css'/>
    <link rel='stylesheet' href='\css\jquery-ui.min.css'/>
    <link rel='stylesheet' href='\css\form.css'/>
    <link rel='stylesheet' href='\css\profile.css' />

</head>
<body>

<div class="row">



    <div class="col-md-10 col-md-offset-1" border="solid">
          <form  class="form-horizontal" role="form">
             <div >
                <h4 align="left">Contact Information</h4>
                 <hr>    
                 <div class="form-group">
                      <label for="email" class=" control-label col-sm-4">Email id:</label>
                          <div class="col-sm-8">
                                  <p class="pnav" id="email"></p> 
                          </div>
                  </div>

                  <div class="form-group">
                        <label for="mobile" class=" control-label col-sm-4 col-xs-12 ">Phone No:</label>                     
                           <div class="col-sm-4 col-xs-8">
                                <input type="text" class="form-control" id="mobile"  name="mobile" placeholder="Phone Number">
                                 <span class="error" id="mobileError"></span>
                            </div>                        
                  </div>

              </div>
                  
              <div>
                 <h4 >Personel Information</h4>
                 <hr>
                 <div class="form-group required">
                      <label for="fname" class="control-label col-sm-4 ">First Name:</label>
                      <div class="col-sm-8">
                             <p class="hidden" id="userid"></p>
                           <input type="text" class="form-control" id="fname"  name="fname" required>
                      </div>
                  </div>

                     <div class="form-group required">
                      <label for="lname" class="control-label col-sm-4 ">Last Name:</label>
                      <div class="col-sm-8">
                           <input type="text" class="form-control" id="lname"  name="fname" required>
                      </div>
                  </div>

                   <div class="form-group">
                      <label for="DOB" class=" control-label col-sm-4">Date of Birth:</label>
                      <div class="col-sm-8">
                             <input type= "text" id="DOB" class="form-control date-picker" placeHolder="Date of Birth">
                              <i class="glyphicon glyphicon-calendar form-control-feedback"></i>

                             
                      </div>
                  </div>
                  

                  <div class="form-group">
                      <label for="gender" class="control-label col-sm-4 ">Gender:</label>
                      <div class="col-sm-8">
                         <select class="form-control" name="category" id="gender" required>
                           <option value="Not Available">Select a gender</option>
                           <option value="Male">Male</option>
                           <option value="Female">Female</option>
                         </select>
                      </div>
                  </div>


                 <div class="form-group">
                          <label for="role" class="control-label col-sm-4">Role:</label>
                          <div class="col-sm-8">
                              <input type="text" id="role"  class="form-control" name="role">    
                          </div>
                  </div>

                  <div class="form-group">    
                          <label for="city" class=" control-label col-sm-4 col-xs-12">City:</label>
                          <div class="col-xs-12 col-sm-8">
                                <input type="text" id="city"  class="form-control" name="city">  
                          </div>
                  </div>

                  <div class="form-group ">
                          <label for="country" class=" control-label col-sm-4 col-xs-12">Country:</label>
                          <div class="col-sm-6 col-xs-8">
                            <select class="form-control" name="country" id="country">
                                      <option value="Not Available">Select a Country</option>
                                      <option value="India">India</option>
                                      <option value="USA">United States</option>
                            </select>
                          </div>
                  </div>

                  <div class="form-group ">
                          <label for="state" class=" control-label col-sm-4 col-xs-12">State:</label>
                          <div class="col-sm-6 col-xs-8">
                            <select class="form-control" name="state" id="state"  placeholder="Select a State">
                                      <option value="Not Available">Select a State</option>
                              </select>
                          </div>
                    </div>

                  <div class="form-group">
                        <div class="col-sm-offset-6 col-xs-12 col-xs-offset-">
                            <button class="btn btn-primary btn-mg" id="updateprofile">Update</button>
                            <button class="btn btn-primary btn-mg" id="cancelupdate">Cancel</button>
                        </div>
                  </div>

              </div>

              </form>
          </div>
      </div>

    

   </body>


<script src="\js\jquery.js"></script> 
<script src="\js\jquery-ui.js"></script> 
<script src="\js\bootstrap.min.js"></script>
<script src="\js\jquery.bootstrap-duallistbox.min.js"></script>
<script type="text/javascript">
    
$(document).ready(function(){

  //For date control
  $(".date-picker").datepicker();
 
 //on click of update profile
     $('#updateprofile').on('click',function(e){
              e.preventDefault();
              //Forming JSON object for form data to be sent to handle POST
              var formData=new Object;
          

              formData.fname=$("#fname").val();
              formData.lname=$("#lname").val();
              formData.gender=$("#gender").val();
              formData.DOB=$("#DOB").val();
              formData.mobile=$("#mobile").val();
              formData.email=$("#email").text();
              formData.city=$("#city").val();
              formData.state=$("#state").val();
              formData.role=$("#role").val();
              formData.country=$("#country").val();
              formData.updated_at=Date.now();

              $.ajax({
                    url:"../profile/update",
                    type:"POST",
                    data:{
                        details:formData
                        },
                    dataType:"json",
                    success:function(){
                     $('#popupprofile').removeClass('hidden');
                      window.setTimeout(function(){location.reload()},2000)
                    },
                     error:function(data){
                           alert("error");
                      },
                      async:false
                });

          });

          //load states based on country on load
          loadStates();


          //load states on country change
          $('#country').on('change',function(){
               loadStates();
          });


                     
           //For mobile number validation
           $("#mobile").on('keydown', function (e) {

                    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && (e.which < 96 || e.which > 105) && e.which!=110 && e.which!=9 ) {
                          //display error message
                          $("#mobileError").html("Please enter digits only").show().fadeOut(2000);
                          return false;
                    }
           });


           //For length of mobile number
           $("#mobile").focusout(function(){
                  if($(this).val().length!=10){
                          $("#mobileError").html("Please enter valid phone number").show();
                  }else{
                    $("#mobileError").html("");
                  }

           });

           //Remove Not Available on focus
           $('input').focus(function(){
                if($(this).val()=="Not Available")
                   $(this).val("");
           });

           //Set Not Available if value is empty on focus out
           $('input').focusout(function(){
                 var value=$(this).val();
                   if(value=="")
                      $(this).val("Not Available")
           });



          //function to load state based on country
          function loadStates(){

               var country = $('#country').val();
               
               $('#state').empty();

               $('#state').append('<option value="Not Available">Select a state</option>');

                states_india = "Andhra Pradesh|Arunachal Pradesh|Assam|Bihar|Chhattisgarh|Goa|Gujarat|Haryana|Himachal Pradesh|Jammu and Kashmir|Jharkhand|Karnataka|Kerala|Madhya Pradesh|Maharashtra|Manipur|Meghalaya|Mizoram|Nagaland|Odisha(Orissa)|Punjab|Rajasthan|Sikkim|Tamil Nadu|Tripura|Uttar Pradesh|Uttarakhand|West Bengal";

                states_usa = "Alabama|Alaska|Arizona|Arkansas|California|Colorado|Connecticut|Delaware|Florida|Georgia|Hawaii|Idaho|Illinois|Indiana|Iowa|ansas|Kentucky|Louisiana|Maine|Maryland|Massachusetts|Michigan|Minnesota|Mississippi|Missouri|Montana|Nebraska|Nevada|New Hampshire|New Jersey|New Mexico|New York|North Carolina|North Dakota|Ohio|Oklahoma|Oregon|Pennsylvania|Rhode Island|South Carolina|South Dakota|Tennessee|Texas|Utah|Vermont|Virginia|Washington|West Virginia|Wisconsin|Wyoming";

                if(country === 'USA'){
                      var states = states_usa.split('|');
                      for(var i=0; i<states.length; i++){
                             var item=$('<option>'+states[i]+'</option>');  
                             $('#state').append(item);
                          }
                        }
                  else if(country === 'India'){
                        var states = states_india.split('|');
                        for(var i=0; i<states.length; i++){
                              var item=$('<option>'+states[i]+'</option>');  
                              $('#state').append(item);
                         }
                  }
            }



 });

  </script>

 </html>

