<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="\css\bootstrap-duallistbox.min.css" rel="stylesheet" type="text/css" media="all">
    <link rel='stylesheet' href='\css\bootstrap.min.css'/>
    <link rel='stylesheet' href='\css\jquery-ui.min.css'/>
    <link rel='stylesheet' href='\css\form.css'/>
    <link rel='stylesheet' href='\css\viewproject.css' />
    <link rel='stylesheet' href='\css\bootstrap-theme.min.css' />
    <link rel='stylesheet' href='\css\profile.css' />

    <script src="\js\jquery.js"></script>
    <script src="\js\bootstrap.min.js"></script>
    <script src="\js\jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>



</head>
<body>


 <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Project Management</a>
          <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>  
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right ">
            <li ><a href="#">Home</a></li>
            <li class="active"><a href="/profile">Profile</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">About</a></li>
            <li><a href="/signout">Log out</a></li>
          </ul>
        </div>
      </div>
    </div>
       

      
      <!-- Jumbotron -->

      <div class="jumbotron">
        <div class="container">

       

              <!--<p><a class="btn btn-lg btn-success" href="#" role="button">Features Preview</a></p>-->
        
                 <!-- pop up-->
                  <div class="col-md-4">
                    <h3 class="lead">Profile Details,<%=username%></h3> 
                  </div>
                <div id="popupprofile" class="hidden">
                  <div class="col-md-6">
                  <div class="alert alert-success alert-dismissable">
                   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                      ×
                    </button>
                    <h4 align="center">
                      Profile has been updated successfully!!!
                  </div>
                </div>
              
            </div>


        <!--Pop up-->
      </div>
      </div>

<div class="container">


<div class="row ">
  <div class="col-sm-3 photodiv">
    <div class="sidebar-nav  ">
      <div class="navbar navbar-default " role="navigation">
        <div class="navbar-header">
          
        </div>
        <div class="navbar-collapse id="sidebar" collapse sidebar-navbar-collapse">
<div class="content-box">
<p><img id="uploadedImage" src="\images\profile_sample.jpg" class="img-responsive" alt="Projects"> </p>
<h3 align="center" id="fullname">User Name</h3>
</div>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

 

<div  class="row">

  <!-- Action form start   -->              


          <div class="col-md-8">
            <div class="col-md-4 col-md-offset-8" align="right">
            <div class="btn-group" align="right" style="padding-top:10px">
               
              <button class="btn btn-primary">
                Action
              </button> 
              <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li id="profileli">
                  <a id="profileedit" href="#">Edit</a>
                </li>
               </ul>
            </div>
          </div>
        </div>


   <!-- Action form end -->

<div id="viewprofile" class="col-sm-8 panel panel-default">
<!-- sample form -->


</div>
</div>




</div>
</div>


</body>

    
  <script src="\js\jquery.js"></script> 
    <script src="\js\jquery-ui.js"></script> 
    <script src="\js\bootstrap.min.js"></script>
    <script src="\js\jquery.bootstrap-duallistbox.min.js"></script>
    <script src="\js\jquery.quick.pagination.min.js"></script>
    <script src="\js\jquery.quick.pagination.js"></script>
    

    <script src="\js\jquery.twbsPagination.js"></script>
     <script src="\js\jquery.twbsPagination.min.js"></script>


    <script type="text/javascript">
    
     $(document).ready(function(){

  
   //To load the record of the User
      $('#viewprofile').load('/profile/view');
      $.ajax({
        url:"../profile/data",
        type:"GET",
        data:"userid=vara",
        headers:{"Accept":"application/json;odata=verbose"},
        success:function(data){

              for(var i in data){
                $('#userid').text(data[i].userid);
                $('#fname').text(data[i].fname);
                $('#lname').text(data[i].lname);
                $('#gender').text(data[i].gender);
                $('#DOB').text(data[i].DOB);
                $('#mobile').text(data[i].mobile);                                  
                $('#email').text(data[i].email);
                $('#city').text(data[i].city);
                $('#state').text(data[i].state);
                $('#role').text(data[i].role);
                $('#country').text(data[i].country);

                $('#fullname').text(data[i].fname +" "+data[i].lname);

              }
        },
        error:function(data){
          alert("error");
        }
       });
 //To load the record of the User -- end
               


// on click of edit profile
 $("#profileedit").on('click',function(e){

  $('#profileli').addClass('disabled');

    var userid = $('#userid').text();
    var lname = $('#lname').text();
    var fname = $('#fname').text();
    var gender = $('#gender').text();
    
    var mobile = $('#mobile').text();
    var email = $('#email').text();
    var city = $('#city').text();
    var state = $('#state').text();
    var role = $('#role').text();
    var country =$('#country').text();

    var DOB = $('#DOB').text();
    var dobdate = DOB.split('T');


    $('#viewprofile').load('/profile/edit',function(){

           

           $('#userid').val(userid);
           $('#lname').val(lname);
           $('#fname').val(fname);
           $('#gender').val(gender);
           $('#DOB').val(dobdate[0]);
           $('#mobile').val(mobile);
           $('#email').val(email);
           $('#city').val(city);
           $('#state').val(state);
           $('#role').val(role);
           $('#country').val(country);
            
        });
      });





});
  </script>

</html>

