  <!DOCTYPE html>
  <html lang="en">
  <head>
      <title>View Projects</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link href="\css\bootstrap-duallistbox.min.css" rel="stylesheet" type="text/css" media="all">
      <link rel='stylesheet' href='\css\bootstrap.min.css'/>
      <link rel='stylesheet' href='\css\jquery-ui.min.css'/>
      <link rel='stylesheet' href='\css\form.css'/>
      <link rel='stylesheet' href='\css\profile.css' />
      <link rel='stylesheet' href='\css\bootstrap-theme.min.css' />
  </head>
  <body>
    <div class="row">
      <div class="col-md-10 col-md-offset-1" border="solid">
          <form  class="form-horizontal" role="form">
              <div >
                  <h4 align="left">Contact Information</h4>
                  <hr>
                  <div class="form-group">
                      <label for="email" class=" control-label col-sm-4">Email id:</label>
                         <div class="col-sm-8">
                              <p class="pnav" id="email"><%=user.email%></p> 
                          </div>
                  </div>

                  <div class="form-group">
                        <label for="mobile" class=" control-label col-sm-4 col-xs-12 ">Phone No:</label>                      
                            <div class="col-sm-4 col-xs-8">
                                <p class="pnav" id="mobile">Not Available</p>
                            </div>                        
                  </div>
              </div>
    
              <div>
                  <h4 >Personel Information</h4>
                  <hr>
                  <div class="form-group required">
                      <label for="fname" class="control-label col-sm-4 ">First Name:</label>
                      <div class="col-sm-8">
                          <p class="hidden" id="userid"></p>
                          <p class="pnav" id="fname">Not Available</p>
                      </div>
                  </div>

                  <div class="form-group required">
                        <label for="lname" class="control-label col-sm-4 ">Last Name:</label>
                        <div class="col-sm-8">
                            <p class="pnav" id="lname">Not Available</p>
                        </div>
                  </div>

                  <div class="form-group">
                        <label for="DOB" class=" control-label col-sm-4">Date of Birth:</label>
                        <div class="col-sm-8">
                            <p class="pnav" id="DOB">Not Available</p> 
                        </div>
                  </div>                     

                  <div class="form-group">
                        <label for="gender" class="control-label col-sm-4 ">Gender:</label>
                        <div class="col-sm-8">
                            <p class="pnav" id="gender">Not Available</p>
                        </div>               
                  </div>

                 <div class="form-group">
                          <label for="role" class="control-label col-sm-4">Role:</label>
                          <div class="col-sm-8">
                           <p class="pnav" id="role">Not Available</p>    
                          </div>
                 </div>

                  <div class="form-group">    
                          <label for="city" class=" control-label col-sm-4 col-xs-12">City:</label>
                          <div class="col-xs-12 col-sm-8">
                                   <p class="pnav" id="city">Not Available</p> 
                          </div>
                  </div>


                  <div class="form-group has-feedback">
                         <label for="state" class=" control-label col-sm-4 col-xs-12">State:</label>
                          <div class="col-sm-6 col-xs-8">
                               <p class="pnav"id="state">Not Available</p> 
                          </div>
                  </div>

                  <div class="form-group has-feedback">
                          <label for="country" class=" control-label col-sm-4 col-xs-12">Country:</label>
                          <div class="col-sm-6 col-xs-8">
                               <p class="pnav"id="country">Not Available</p> 
                          </div>
                  </div>
<<<<<<< HEAD
                  <hr/>

                   <!-- for general info end-->

                  </form>
=======
>>>>>>> keeraj/develop
                </div>
              </form>
            </div>
           </div>
        </body>
</html>

