<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

  <link rel='stylesheet' href='\css\bootstrap.min.css'/>
   <link rel='stylesheet' href='\css\style.css' />
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Project Management</a>
          <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>  
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right ">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Locations</a></li>
            <li><a href="#">Import/Export</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Log out</a></li>
          </ul>
        </div>
      </div>
    </div>
       
      <div class="container">
      <!-- Jumbotron -->
      <div class=" container jumbotron">
        <h1>Managing Projects</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Features Preview</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="container content">
       <div class="row">
        <div class="col-sm-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Add Or Remove Project</h2>
          <p></p>
          <p><a class="btn btn-primary" href="/beneficiary">Go &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4" >
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>View charts</h2>
          <p></p>
          <p><a class="btn btn-primary" href="#" role="button">Go &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Data</h2>
          <p></p>
          <p><a class="btn btn-primary" href="#" role="button">Go &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
       </div><!-- /.row -->
      </div>
      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; Footer notes</p>
      </footer>

    </div> <!-- /container -->
  <script src="\js\jquery.js"></script>
    <script src="\js\bootstrap.min.js"></script>
  </body>
</html>



  