<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

  <link rel='stylesheet' href='\css\bootstrap.min.css'/>
   <link rel='stylesheet' href='\css\style.css' />
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Project Management</a>
          <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>  
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right ">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Log out</a></li>
          </ul>
        </div>
      </div>
    </div>
       
      
      <!-- Jumbotron -->
      <div class="jumbotron">
        <div class="container">
        <p>Welcome Beamdaddy</p>
        <p class="lead"></p>
        <!--<p><a class="btn btn-lg btn-success" href="#" role="button">Features Preview</a></p>-->
        </div>
      </div>

      <!-- Example row of columns -->
      <div class="container">
        <div class="well">
          <h2>Recent Activity</h2>
          <p>You dont have any recent activities yet. Recent activities user has done is given here.</p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12" >
            <div class="thumbnail">
             <a href="#" class="content-box">
               <p><img src="\images\img1.jpg" class="img-responsive" alt="Projects"> </p>
               <h3> Projects</h3>
             </a>
               <div class="list-group">
                 <a href="/create" class="list-group-item">Create Project</a>
                 <hr>
                 <a href="#" class="list-group-item">Edit or Remove Projects</a> 
               </div>
            </div>
          </div><!-- /.col-md-4 --><!-- /.col-sm-4 -->
        <div class="col-md-4 col-sm-12" >
          <div class="thumbnail">
              <a href="#" class="content-box">
               <p><img src="\images\img4.jpg" class="img-responsive" alt="Projects"> </p>
               <h3> Beneficiary Details</h3>
              </a>
               <div class="list-group">
                 <a href="/beneficiary" class="list-group-item">Add Benificiary Details</a>
                 <hr>
                 <a href="#" class="list-group-item">Edit or Remove Benificiary Details</a>  
                 <hr>         
                 <a href="#" class="list-group-item">Import or Export</a>
               </div>
          </div>
        </div><!-- /.col-md-4 --><!-- /.col-sm-4 -->
        <div class="col-md-4 col-sm-12" >
           <div class="thumbnail">
               <a href="#" class="content-box">
               <p><img src="\images\img7.jpg" class="img-responsive" alt="Projects"> </p>
               <h3>Analytics</h3>
               </a>
               <div class="list-group"> 
                  <a href="#" class="list-group-item">View Project Details</a>
                  <hr>
                  <a href="#" class="list-group-item">View Analytics</a>  
               </div>
            </div>  
        </div><!-- /.col-md-4 --><!-- /.col-sm-4 -->
       </div>
      </div>
      <!-- Site footer -->
      
      <footer class="footer">
        <p>&copy; Footer notes</p>
      </footer>


    </div> <!-- /container -->
  <script src="\js\jquery.js"></script>
  <script src="\js\bootstrap.min.js"></script>
  <script>
      $(document).ready(function(){
        $('.content-box').click(function(){
            $(this).closest('.thumbnail').find('.list-group').slideToggle();
        });
        $('.content-box').mouseenter(function(){
            $(this).closest('.thumbnail').find('img').addClass('blur');
        });
        $('.content-box').mouseleave(function(){
            $(this).closest('.thumbnail').find('img').removeClass('blur');
        });

      });
  </script>
  
  </body>
</html>



  