<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
	<link rel='stylesheet' href='\css\bootstrap.min.css'/>
  <link rel='stylesheet' href='\css\signin.css' />
  </head> 
  <body>  
  	<div class="container center">
  	  <form class="form-signin" action="/signin" method="post">
  		<h2 class="form-signin-heading"> Sign In</h2>

        <label for="email" class="form-label">Email address</label>
        <input type="email" id="email" class="form-control" placeholder="Email address" name="email" required autofocus>
   
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" class="form-control" placeholder="password" name="password" required>

        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        
        <button class="form-btn btn-lg btn-primary" type="submit">Sign In</button>
        <p class="text-center"><b>Not a member. </b><a href="/register">Please Register</a></p>
  	  </form>
  	</div>
  </body>
</html>



