<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
	<link rel='stylesheet' href='\css\bootstrap.min.css'/>
    <link rel='stylesheet' href='\css\signin.css' />
  </head>
  <body>
  	<div class="container">
  	  <form class="form-signin" action="/home" method="get">
  		<h2 class="form-signin-heading"> Sign Up</h2>
        <label for="inputEmail" class="form-label">Your Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputUsername" class="form-label">Choose a UserName</label>
        <input id="inputUsername" class="form-control" placeholder="User Name" required>
        <label for="inputPassword" class="form-label">Choose a password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="form-btn btn-lg btn-primary" type="submit">Register</button>
  	  </form>
  	</div>
  </body>
</html>



