.row {
  padding-top: 20px;
}
.jumbotron{
  background-color:#1e3547;
  padding: 20px;
  text-align: left;
  color: #fff;
}

body {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #eee;
  overflow-x:hidden;
}

.btn-primary{
  margin-top: 3px;
  width: 200px;
}

.error {
   color: red;
}
.required:after{
  content:" *";
  color:#1e3547;
}


 .lead{
   margin-top: 30px;
   margin-bottom:10px;
}

.jumbotron p{
  font-size:15px;
  font-style: italic;
}





