body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #FFFFFF;
 /* background-image: url('../images/Doodle.bmp');*/
}

@font-face {
  font-family: KGTangledUpInYou;
  src: url('../../fonts/KGTangledUpInYou.ttf');
  font-weight: bold;
}

@font-face {
  font-family: KGTangledUpInYou2;
  src: url('../../fonts/KGTangledUpInYou2.ttf');
  font-weight: bold;
}

.home-icon{
list-style-image: url('../../icons/Project_Icon.jpg');
}



.bg-header H1{
      
      font-family: "KGTangledUpInYou";
      text-align:center;
      font-size: 100px;

    }

.bg-header H2{

  font-family: "KGTangledUpInYou2";
      text-align:center;
      font-size: 80px;

    }

.navbar-home{
  background-color: #FFFFFF;
}




.bg-panel{

  padding:250px 0;
  padding-right: 70x;

  text-align:center;
  color: #FFFFFF;
   background-image: url('../images/panel_BG.jpg');

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   
  
}


    



.form-signin {
  max-width: 460px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 100px;
   background-color: #FFFFFF;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  max-width: 400px;
  margin-bottom: 30px;
  text-align: center;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  margin: 10px 0px 10px 0px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-label{
  margin:10px 0px 0px 0px;
}

.form-btn{
  width:40%;
  margin-left: 28%;
  margin-bottom: 5%;
}

.footer{
  position: fixed;
  font-color: #FFFFFF;
  left:0px;
  bottom:0px;
  background-color: #303030;
  width:100%;
}


footer {
  margin-top: 30px;
  padding-top: 30px;
    left:0px;
  bottom:0px;
  background-color: #303030;
  border-top: 1px solid #ddd;
  color: #e2e2e2;
}
footer hr {
  border-top: none;
  border-bottom: 1px solid #666;
}
footer a {
  color: #ccc;
}
footer a:hover {
  color: #fff;
}
footer h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}