body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f7f7f7;
  
}

a:visited{
  text-decoration: none;
}


.center{
	position: absolute;
  left: 50%;
  top: 50%; 
}

.navbar{
  background-color: #f7f7f7;
  color: #fff;
} 

.list-group-item{
   border:none;
   text-align: left;
}

hr{
  margin: 1px;
  width: 50%;
}


.jumbotron{
  background-color:#1e3547;
  padding: 70px;
  text-align: left;
  color: #fff;
}

.list-group
{
  display:none;
}

.blur{
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.content-box > h3{
    color:#1e3547;
    text-align: center;
}

.footer{
  position: absolute;
  left:21%;
  margin-top: 10%;

}


.control-label{
     margin:10px 0px 0px 0px; 
}
.form-control{
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;  
  font-size: 16px;
  margin: 10px 0px 10px 0px;b0c4de;
}
.form-btn{
  width:40%;
  margin-left: 28%;
  margin-bottom: 5%;
  margin-top: 14px;
}

.form-group{

  max-width: 400px;
}

.form-heading{
      max-width: 400px;
  margin-bottom: 30px;
  text-align: center;
  }
  
 .lead{
   margin-top: 10px;
   margin-bottom:10px;
}

.jumbotron p{
  font-size:15px;
  font-style: italic;
}

.modal{
  position: fixed;
  margin-top:18%;
}

p{
  text-align: center;
  margin: 15px 0 30px;
}

.block{
  display: inline-block;
  margin-right: 15%;
  width: 32%;
}
.btn-block{

}

.modal-btn{
  margin: 5% 0 5% 20%;
}

#mail-action , #import-action{
   margin:3% 10% 3% 10%;
}

#send-mail{
  width:40%;
  margin:4% 0 0 30%;
}

#import-data{
  width:30%;
  height: 80%;
  margin:4% 0 0 35%;
}
#browse{
    position: relative;
    height: 108%;
    margin-top: 9px;
    width: 150%;
}

/*.modal-header{
  min-height: 14px;
  padding: 12px;
  }

 .bootstrap-dialog.type-primary .modal-header{
     background-color: #1e3547;
  }*/
