body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f7f7f7;
}

a:visited{
  text-decoration: none;
}


.center{
	position: absolute;
  left: 50%;
  top: 50%; 
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

.navbar{
  background-color: #f7f7f7;
  color: #fff;
} 

.list-group-item{
   border:none;
   text-align: left;
}

hr{
  margin: 1px;
  width: 50%;
}


.jumbotron{
  background-color:#1e3547;
  padding: 70px;
  text-align: left;
  color: #fff;
}

.list-group
{
  display:none;
}

.blur{
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.content-box > h3{
    color:#1e3547;
    text-align: center;
}

.footer{
  position: fixed;
  left:50px;
  bottom:0px;
}


.control-label{
     margin:10px 0px 0px 0px; 
}
.form-control{
    position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;  
  font-size: 16px;
  margin: 10px 0px 10px 0px;b0c4de;
}
.form-btn{
  width:40%;
  margin-left: 28%;
  margin-bottom: 5%;
  margin-top: 14px;
}

.form-group{

  max-width: 400px;
}

.form-heading{
      max-width: 400px;
  margin-bottom: 30px;
  text-align: center;
  }
  
 .lead{
   margin-top: 30px;
   margin-bottom:10px;
}

.jumbotron p{
  font-size:15px;
  font-style: italic;
}


