<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
	<link rel='stylesheet' href='\css\bootstrap.min.css'/>
    <link rel='stylesheet' href='\css\analytics.css' />
    <link rel='stylesheet' href='\css\style.css' />
  </head>
   <body>

    <div class="container-fluid">
      <div class="page-header">
       <h3 class="form-analytics-heading">Analytics Dashboard</h3>
      </div>
      
      <form class="form-analytics" action="/home" method="get">
     
     <div class="row">
            <div class="col-md-6">
     <label for="design-project_category_label">
            ProjectCategory:
      </label>
        <select class="form-control dropdown font_size" name="project_category" id="project_category">
           <option>Select a category</option> 
        </select>

      <label for="design-project_name_label">
            Projects Name:
      </label>
       <select class="form-control dropdown font_size" name="project_Name_dropdown">
        <option value="ProjectA">ProjectA</option>
        <option value="ProjectB">ProjectB</option>
        <option value="ProjectC">ProjectC</option>
        </select>
      </div>
       <div class="col-md-6">
                <!-- <h3>Title Options:</h3> -->
       <div class="option-holder">
        <label for="design-location_label">Location:</label>
        <select class="form-control dropdown font_size" name="Location_dropdown">
        <option value="Chennai">Chennai</option>
        <option value="Kolkatta">Kolkatta</option>
        <option value="Mumbai">Mumbai</option>
        </select>
       <label for="design-funds_label">Funds:</label>
        <select class="form-control dropdown font_size" name="Funds_dropdown">
        <option value="1lakh">>1lakh</option>
        <option value="1lakh-5lakh">1lakh-5lakh</option>
        <option value="5lakh-10lakh">5lakh-10lakh</option>
        </select>
       </div>
       </div>

        </div>
        <button class="form-btn btn-lg btn-primary" type="submit">Submit</button>
        </form>
        </div>         
  </body>
    <script src="\js\jquery.js"></script>
  <script src="\js\bootstrap.min.js"></script>
  <script>
      $(document).ready(function(){
       $.ajax({
              url:"http://localhost:3000/analytics/projectCategory",
              type:"GET",
              headers:{"Accept":"application/json;odata=verbose"},
              success:function(data){
                       for(var i in data){
                          var item=$('<option>'+data[i].name+'</option>');
                          $('#project_category').append(item);
                      }
              },
              error:function(data){
                alert("error");
              }
      });

      });
  </script>
</html>