<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel='stylesheet' href='\css\bootstrap.min.css'/>
    <link rel='stylesheet' href='\css\style.css' />
    <link rel='stylesheet' href='\css\analytics.css' />
</head>
<body>
<div>
  <form method="get" action="/generateChart">
    <div id="left">
    <div>
        <label for="project_category" class="control-label">Project Category</label>
        <select class="form-control" name="project_category" id="project_category">
            <option>Select a category</option>
            <option  value="all">All</option>
        </select>
    </div>
    <div>
        <label for="location" class="control-label">Location</label>
        <select class="form-control" name="location" id="location">
            <option>Select a location</option>
        </select>
    </div>
    </div>
    <div id="right">
    <div>
        <label for="chart_param" class="control-label">Chart For</label>
        <select class="form-control" name="chart_param" id="chart_param">
            <option value="">Select an option</option>
            <option value="funds">Location Vs Funds</option>
            <option  value="numPeopleBenefited">Location Vs Num Of Benfitted People</option>
        </select>
    </div>
    <div>
        <label for="chart_type" class="control-label">Chart Type</label>
        <select class="form-control" name="chart_type" id="chart_type">
            <option value="">Select an option</option>
            <option value="pie">Pie Chart</option>
            <option value="bar">Bar Chart</option>
        </select>
    </div>
    </div>
    <button class="form-btn btn-lg btn-primary" type="Submit" id="submit">Submit</button>
  </form>
</div>
<!--<div class="container center">
    <div class="row">
        <div class="col-md-2"></div>-->
        <div class="center" id="chart"></div>
   <!--     <div class="col-md-2"></div>
    </div>
</div>-->

</body>

<script src="\js\jquery.js"></script>
<script src="\js\bootstrap.min.js"></script>
<script src="\js\highcharts.js"></script>
<script src="\js\highcharts-3d.js"></script>
</html>