<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel='stylesheet' href='\css\bootstrap.min.css'/>
    <link rel='stylesheet' href='\css\style.css' />
   <link rel='stylesheet' href='\css\analytics.css' />
  </head>
  <body>

    <!-- code for navigation bar starts-->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Project Management</a>
          <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>  
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right ">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">About</a></li>
            <li><a href="/signout">Log out</a></li>
          </ul>
        </div>
      </div>
    </div>
     <!--  code for navigation bar ends here-->

    <div class="jumbotron">
      <div class="container">
        <h4 class="lead">Analytics Dashboard</h4> 
        <h5>Select approppriate options to view analytics</h5>
      </div>
    </div>
   
   <!--code for radio buttons-->
    <div class="container radio">
       <div class="row">
          <div class="radio-inline col-xs-12 col-sm-3">
             <input name="selection" id="general" value="general" type="radio" ><label for="general">General</label>
          </div>
          <div class="radio-inline  col-xs-12 col-sm-3"> 
             <input name="selection" id="project" value="project" checked="" type="radio"/><label for="project">Project</label>
          </div>
           <div class="radio-inline  col-xs-12 col-sm-3">
             <input name="selection" id="location" value="location" type="radio"/><label for="location">Location</label>
          </div>
      </div>
    </div>
    <!--code for radio buttons ends here-->

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <iframe src="analytics/project" id="mainFrame"></iframe>
        </div>
         <div class="col-md-2"></div>
      </div>
    </div>
     
  </body>
  <script src="\js\jquery.js"></script>
  <script src="\js\bootstrap.min.js"></script>
  <script>
         $(document).ready(function(){
              $("input[name=selection]:radio").click(function(){
                       var url="analytics/"+$(this).val();
                       $("#mainFrame").attr("src",url);
              });
         });
  </script>
</html>