<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <link rel='stylesheet' href='\css\bootstrap.min.css'/>  
    <link rel='stylesheet' href='\css\beneficiary.css' />
    <link type="text/css" rel="stylesheet" href="path_to/simplePagination.css"/>

 </head>

  <body>

   <!--code for navigation bar-->
   <div class="navbar navbar-default navbar-fixed-top navbar-home" >
      <div class="container">
        <div class="navbar-header">

          <a class="navbar-brand" href="/home"> Marina Project Management</a>
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>  
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right ">
            <li class="active"><a href="#">About</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact Us</a></li>
             <li><a href="/signout">Log out</a></li>
            
           
            
          </ul>
        </div>
      </div>
    </div>

      
   <div class="jumbotron">
      <div class="container">
        <h3 class="lead">Edit Beneficiary Details</h3> 
        
      </div>
    </div>


<!--Panel for Displaying Report Data -->

<div class="container beneficiary">
    <div class="panel panel-default " >

        <div class="panel-body">

        

    <!--table of contents-->
    
      <a class="btn btn-primary" href='../reports/export' id="export" on>Export</a>
      <table class="table table-hover" id="benf-details">
        <thead>
          <tr>  
            <th>Category</th><th>Project Name</th><th>Location</th><th>Beneficiary Organization</th><th>Beneficiary Name</th><th>Funds</th><th>Benefitted People</th><th>Personnel</th><th>Date</th>
          </tr>
        </thead>
        <tbody>
              <!--Beneficiary data will be dynamically added here-->
        </tbody>
      </table>

      

    </div>
  </body>


 <!--Update modal to edit beneficiary details-->
 <div class="modal fade" id="editModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Beneficiary Details</h4>
      </div>

      <div class="modal-body" id="main-content">
      </div>

    </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    
  <!--confirm modal for deletion-->
  <div class="modal fade" id="confirmModal">
    <div class="modal-dialog">
      <div class="modal-content">


        <div class="modal-header">
          <h4 class="modal-title">Delete the record</h4>
        </div>

        <div class="modal-body">
          <p>
            Deleting the selected row.Please confirm.
          </p>
          <!--Hidden field to store id of the record to be deleted-->
          <input type="hidden" id="delete-id">
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="submit">Delete</button>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
</div>


 

  <script src="\js\jquery.js"></script>
  <script src="\js\bootstrap.min.js"></script>
  <script src="\js\bootstrap-modal.min.js"></script>

  <script type="text/javascript">




    $(document).ready(function(){

              //For populating beneficiary details in table format
              $.ajax({
                url:"../beneficiary/data",
                type:"GET",
                headers:{"Accept":"application/json;odata=verbose"},
                
                success:function(data){

                   for(var i=0;i<data.length;i++){
                          var tr;
                          var deleteIcon;
                          tr = $('<tr id='+data[i]._id+'/>');
                          tr.append("<td>" + data[i].Category + "</td>");
                          tr.append("<td>" + data[i].ProjectName + "</td>");
                          tr.append("<td>" + data[i].Location + "</td>");
                          tr.append("<td>" + data[i].Type + "</td>");
                          tr.append("<td>" + data[i].Name + "</td>");
                          tr.append("<td>" + data[i].Funds + "</td>");
                          tr.append("<td>" + data[i].NumPeopleBenefited + "</td>");
                          tr.append("<td>" + data[i].TransOwner + "</td>");
                          tr.append("<td>" + data[i].TransDate + "</td>");

                          deleteIcon=$(' <a href="#" id=trash><span class="glyphicon confirm-delete glyphicon-trash"></a>');
                          tr.append(deleteIcon);

                          $('tbody').append(tr);    
                      }
                   
                },
                error:function(data){
                    alert("error");
                },
                async:false
             });
             

              
              //Displays modal window for deletion confirmation
              $('.confirm-delete').on('click', function() {
                     var id = $(this).closest('tr').attr('id');
                     $("#confirmModal #delete-id").val(id);
                     $('#confirmModal').modal('show');
              });



              //Handles deletion of the selected record
              $('#submit').click(function() {
                  
                     //Getting id of the record to be deleted 
                     var id =$("#confirmModal #delete-id").val();
                    
                     $.ajax({

                            url: "../beneficiary/remove", 
                            type:"POST",
                            data:{
                              loadProds:1,
                              ID:id
                            },
                            dataType: "json",

                            success: function(data){
                                    //Constructing id to be deleted
                                    var ID="#"+id;
                                    $(ID).remove();
                                    $('#confirmModal').modal('hide');
                                    window.location.reload();
                             },
                             error:function(data){

                             },
                           async:false
                        
                      });
              });

    



         $('td').on('click',function(){

              //store the selected row & get the id
              var self=$(this);
              var id = $(this).closest('tr').attr('id');
              $("#editModal #edit-id").val(id);

              //load the update div
              $('#main-content').load('/beneficiary/update');

              //Set keyboard value for ESC key to work
              $('#editModal').modal({
                     keyboard:true
              });

              $('#editModal').modal('show');

              //On show of update modal window set the values from selected row 
              $("#editModal").on('shown.bs.modal',function(e){

                       var element=self.closest('tr').children();

                       var category=element[0].textContent;
                       var project_name=element[1].textContent;
                       var location=element[2].textContent;
                       var type=element[3].textContent;
                       var name=element[4].textContent;
                       var funds=element[5].textContent;
                       var benf_people=element[6].textContent;
                       var trans_owner=element[7].textContent;
                       var trans_date=element[8].textContent;

                       $("#project_category").val(category);

                       setProjects(category,project_name);
                       setLocations(project_name,location);

                       $("#type").val(type);
                       $("#name").val(name);
                       $("#funds").val(funds);
                       $("#benf-people").val(benf_people);
                       $("#trans-owner").val(trans_owner);
                       $("#trans-date").val(trans_date);
                       $("#edit-id").val(id);
              });
              
            });


         //Utility to get projects based upon project category
         function setProjects(category,project_name){
              $('#project_name').html("");

              $.ajax({
                url:"../projects",
                type:"GET",
                data:'category='+category,
                headers:{"Accept":"application/json;odata=verbose"},
                success:function(data){
                    for(var i in data){
                        var item=$('<option>'+data[i]+'</option>');
                        $('#project_name').append(item);
                    }
                     $("#project_name").val(project_name);

                },
                error:function(data){
                    alert("error");
                }
              });

          }

          //Utility to get projects based upon project category
          function setLocations(project,location){

             $('#location').html("");
             $.ajax({
                url:"../locations",
                type:"GET",
                data:"name="+project,
                headers:{"Accept":"application/json;odata=verbose"},
                success:function(data){
                    for(var i in data){
                        var item=$('<option>'+data[i]+'</option>');
                        $('#location').append(item);
                    }
                    $("#location").val(location);
                },
                error:function(data){
                    alert("error");
                }
            });
        
            }
    });</script>


    <!-- Site footer -->
     
     <footer class="footer">
     
        <div class="container">
        
        <p> PayPal &copy; Powered By Marina</p>
        
        </div>

      </footer>

</html>
