<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project creation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/bootstrap-duallistbox.min.css" rel="stylesheet" type="text/css" media="all">
    <link rel='stylesheet' href='\css\bootstrap.min.css'/>
    <link rel='stylesheet' href='\css\form.css'/>
    <link rel='stylesheet' href='\css\jquery-ui.min.css'/>

</head>
<body>
    
    <!-- code for navigation bar starts-->
    
     <div class="navbar navbar-default navbar-fixed-top navbar-home" >
      <div class="container">
        <div class="navbar-header">

          <a class="navbar-brand" href="/home"> Marina Project Management</a>
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>  
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right ">
           
            <li><a href="#">About</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact Us</a></li>
             <li><a href="/signout">Log out</a></li>
           
            
          </ul>
        </div>
      </div>
    </div>
     <!--  code for navigation bar ends here-->

    <div class="jumbotron">
      <div class="container">
        <h3 class="lead">Add Beneficiary Details</h3> 
        
      </div>
    </div>


<div class="container beneficiary">
    <div class="panel panel-default " >

        <div class="panel-body">
      
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                   <form  class="form-horizontal" role="form" method="POST" action="/beneficiary/create">
                        <div class="form-group">
                            <label for="category" class="control-label col-sm-4">Project Category</label>
                            <div class="col-sm-8">
                                  <select class="form-control" name="category" id="category" required autofocus>
                                        <option value="">Select a Category</option>
                                        <option  value="all">All</option>
                                  </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="project_name" class="control-label col-sm-4">Project Name</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="project-name" id="project-name" required>
                                     <option value="">Select a Project</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="location" class="control-label col-sm-4">Location</label>
                            <div class="col-sm-8">
                                 <select class="form-control" name="location" id="location" required>
                                     <option value="">Select a Location</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="type" class=" control-label col-sm-4">Beneficiary Type</label>
                            <div class="col-sm-8">
                                  <select class="form-control" name="type" id="type" required>
                                     <option value="">Select Individual / Organization</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name" class=" control-label col-sm-4">Beneficiary Name</label>
                            <div class="col-sm-8">
                                <input type="text" id="name" class="form-control" placeholder="Name of Beneficiary Org/Individual" name="name" required >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="funds" class=" control-label col-sm-4 col-xs-12">Project Fund</label>

                            <div class="col-sm-6 col-xs-8">
                                 <input type="text" id="funds" class="form-control" placeholder="Project fund" name="funds" required><span class="error" id="fundsError"></span>
                            </div>

                            <div class="col-sm-2 col-xs-4">
                                  <input id="funds" class="form-control" value="INR" name="currency" required>
                            </div>
                        </div>

                        


                    <div class="form-group">    
                        <label for="benf-people" class=" control-label col-sm-4 col-xs-12">Num Of Benefitted People</label>
                        <div class="col-xs-12 col-sm-8">
                              <input type="text" id="benf-people" class="form-control" name="people" required><span class="error" id="benfError"></span>

                        </div>

                      </div>
                        
                       
                    <div class="form-group">    
                        <label for="trans-owner" class=" control-label col-sm-4 col-xs-12">Transaction Made By</label>
                        <div class="col-xs-12 col-sm-8">
                              <input type="text" id="trans-owner" class="form-control" name="owner" required>

                        </div>

                    </div>
                       
                    
                    <div class="form-group has-feedback">
                        <label for="trans-date" class=" control-label col-sm-4 col-xs-12">Transaction Date</label>
                        <div class="col-sm-8 col-xs-12">
                            <input type= "text" id="date" name="date" class=" form-control" placeHolder="Transaction Date" required>
                            <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                            <span class="error" id="dateError"></span>

                        </div>
                    </div>

 <div class="form-group">    
                            <label  class=" control-label col-sm-12 col-xs-12">*All fields are mandatory</label>

                  </div>


                        <div class="form-group" align="center">
                            <div class="col-sm-offset-1 col-xs-10 col-xs-offset-1">
                                <button class="btn btn-primary" id="submit" type="submit" > Add Details</button>
                            </div>

                       
                    </form>
                  </div>

            </div>


        </div>
    </div>

</div> <!-- /container -->



<!-- Site footer -->
     
     <footer class="footer">
     
        <div class="container">
        
        <p> PayPal &copy; Powered By Marina</p>
        
        </div>

      </footer>

    
  </body>

    </body>
    <script src="\js\jquery.js"></script> 
    <script src="\js\jquery-ui.js"></script> 
    <script src="\js\bootstrap.min.js"></script>
    <script src="\js\jquery.bootstrap-duallistbox.min.js"></script>

    <script type="text/javascript">
    
     $(document).ready(function(){


        //Date controls
        $('#date').datepicker().change(function(){

        });


       //For populating project category dropdown
        $.ajax({
            url:"../projectCategory",
            type:"GET",
            headers:{"Accept":"application/json;odata=verbose"},
            success:function(data){
                for(var i in data){
                    var item=$('<option>'+data[i].name+'</option>');
                    $('#category').append(item);
                }
            },
            error:function(data){
                alert("error");
            }
        });


        //For populating beneficiary type
         $.ajax({
            url:"../beneficiary/type",
            type:"GET",
            headers:{"Accept":"application/json;odata=verbose"},
            success:function(data){
                for(var i in data){
                    var item=$('<option>'+data[i].type+'</option>');
                    $('#type').append(item);
                }
            },
            error:function(data){
                alert("error");
            }
        });


        //For populating projects dropdown based on project category
        $('#category').on('change',function(){

            var category= $('option:selected', this).val();

            //resetting projects dropdown on category change
            $('#project-name').empty();

             //Populating Projects dropdown
            $('#project-name').append($('<option>Select a project</option>'));
            $.ajax({
                url:"../projects",
                type:"GET",
                data:'category='+category,
                headers:{"Accept":"application/json;odata=verbose"},
                success:function(data){
                    for(var i in data){
                        var item=$('<option>'+data[i]+'</option>');
                        $('#project-name').append(item);
                    }
                },
                error:function(data){
                    alert("error");
                }
              });
        });

       //For populating locations dropdown based on project selected
        $('#project-name').on('change',function(){

            var project_name= $('option:selected', this).val();
           
            //resetting  all fields on form upon category change
            $('#location').empty();
 
            $('#location').append($('<option>Select a location</option>'));
            $.ajax({
                url:"../locations",
                type:"GET",
                data:'name='+project_name,
                headers:{"Accept":"application/json;odata=verbose"},
                success:function(data){
                    
                    for(var i in data){
                        var item=$('<option>'+data[i]+'</option>');
                        $('#location').append(item);
                    }
                },
                error:function(data){
                    alert("error");
                }
            });
        });

        //Validating funds and numBenefitted People field to accept numbers & decimal alone
         $("#funds, #benf-people").on('keydown', function (e) {

            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && (e.which < 96 || e.which > 105) && e.which!=188 && e.which!=190 && e.which!=110 && e.which!=9  ) {
                  //display error message
  
                  $(this).closest('div').find('.error').html("Please enter correct value [digits Only]").show().fadeOut(2000);
                  return false;
            }
        });

   });

    </script>
</html>
