<!DOCTYPE html>
<html lang="en">
<head>
  <title>Beneficiary creation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel='stylesheet' href='\css\bootstrap.min.css'/>
<link rel='stylesheet' href='\css\projectcreate.css'/>
   <script src="\js\jquery.js"></script>
  <script src="\js\bootstrap.min.js"></script>
   <!-- Load SCRIPT.JS which will create datepicker for input field  -->
   <!--<script src="\js\datepicker.js"></script> -->
  <!--script for showing gender and age for individual category -->
   <script>
  /*$(document).ready(function () {
    $('#beneficiary_category').change(function (){
    if($('#beneficiary_category').val()=='Individual') {
        $('#benf_gend_label').show();
        $('#benf_gend_val').show();
        $('#benf_age_label').show();
        $('#benf_age_val').show();
    }
    else {
        $('#benf_gend_label').hide();
        $('#benf_gend_val').hide();
        $('#benf_age_label').hide();
        $('#benf_age_val').hide();
    }
    });
});*/ 
//commented by prash
   </script> 

  <style>
        
  .wrapper {
  
  position: absolute;
  top: 40%;
  left: 20%;
  width: 100%;
  
  margin-top: -200px;
  overflow-x: hidden;
}
.setwidth {
  width: 200px;
  overflow: hidden;
}

    </style>
 
</head>
<body>

<div class="container">
      <div class="navbar navbar-inverse">
         <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Beneficiary Details</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/home">Home</a></li>
            <li><a href="/createProject">Projects</a></li>
            <li><a href="#">Locations</a></li>
            <li><a href="#">Import/Export</a></li>
            <li><a href="#">About</a></li>
            <li><a href="/signout">Log out</a></li>
          </ul>
        </div>
</div>

<div class="container">
  
<div class="wrapper"> 
  
  <form class="form-horizontal" role="form">
    <h2 align="center">Beneficiary Details</h2>
    <br/>
    <div class="form-group">
      <label for="BenefeciaryGroup" class=" control-label col-sm-2">Benefeciary Group:</label>
   
    <div class="col-sm-4"> 
    <select class="form-control" id="BenefeciaryGroup" name="BenefeciaryGroup" required>
  <option value="" selected="selected">Select an option</option>
  <option value="school" id="location" >School</option>
  <option value="college">College</option>
  <option value="hospital" >Hospital</option>
</select>
  </div>
 </div>
 <div class="form-group">
      <label for="BenefeciaryLoc" class=" control-label col-sm-2">Benefeciary Location:</label>
   
    <div class="col-sm-4"> 
    <select class="form-control" id="BenefeciaryLocation" name="BenefeciaryLocation" required>
  <option value="" selected="selected">Select an option</option>
  <option value="chennai" id="location" >Chennai</option>
  <option value="mumbai">Mumbai</option>
  <option value="bangalore" >Bangalore</option>
</select>
  </div>
 </div>

 <div class="form-group">
      <label for="beneficiaryCategory" class=" control-label col-sm-2">Benefeciary Category:</label>
   
    <div class="col-sm-4"> 
    <select class="form-control" id="BenefeciaryCategory" name="BenefeciaryCategory" required>
  <option value="" selected="selected">Select an option</option>
  <option value="individual" id="location" >Individual</option>
  <option value="organization">Organization</option>
</select>
  </div>
 </div>

 <div class="form-group">
      <label for="gender" class=" control-label col-sm-2">Gender:</label>
   
    <div class="col-sm-3"> 
    <select class="form-control" id="gender" name="gender" required>
  <option value="" selected="selected">Select an option</option>
  <option value="male" id="location" >Male</option>
  <option value="female">Female</option>
</select>
  </div>
 </div>

    <div class="form-group">
       <label for="age" class="control-label col-sm-2">Age:</label>
      <div class="col-sm-3">          
         <input id="age" class="form-control" placeholder="Enter your Age" required >
      </div>
    </div>
    
<div class="form-group">
       <label for="beneficiaryname" class=" control-label col-sm-2">Beneficiary Name:</label>
      <div class="col-sm-3">
       <input id="beneficiaryname" class="form-control" placeholder="Enter the Beneficiary Name" required >
      </div>
    </div>

    <div class="form-group">
       <label for="fundsallocated" class=" control-label col-sm-2">Funds Allocated:</label>
      <div class="col-sm-3">
        <input id="fundsallocated" class="form-control" placeholder="Enter the Funds Allocated" required >
      </div>
    </div>

    <div class="form-group">
      <label for="numberofpeoplebenefited" class=" control-label col-sm-2">Number of People Benefited:</label>
      <div class="col-sm-3">          
       <input id="numberofpeoplebenefited" class="form-control" placeholder="Enter the Number of People Benefited" required >
      </div>
    </div>
   
    <div class="form-group"> 
      <label for="transactiondate" class=" control-label col-sm-2">Transaction Date:</label>
      <div class="col-sm-8">
        <input type= "date" id="transactiondate" class="form-control-date">
      </div>
     </div> 
<div class="form-group">
       <label for="transactionowner" class=" control-label col-sm-2">Transaction Owner:</label>
      <div class="col-sm-3">
        <input id="transactionowner" class="form-control" placeholder="Enter the Transaction Owner" required >
      </div>
    </div>
   <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-4">
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </div>
    </div>
  </form>
</div>
</div>
</body>
<script src="\js\jquery.js"></script> 
    <script src="\js\jquery-ui.js"></script> 
    <script src="\js\bootstrap.min.js"></script>
    <script src="\js\jquery.bootstrap-duallistbox.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
      // on submit
      $('#submit').on('click',function(e){

      alert("entered submit");
         var formData=new Object;
         var refresh=false;
          formData.group=$('option:selected','#BenefeciaryGroup').val();
          formData.location=$('option:selected','#BenefeciaryLocation').val();
          formData.category=$('option:selected','#BenefeciaryCategory').val();
          formData.name=$("#beneficiaryname").val();
          formData.funds=$("#fundsallocated").val();
          formData.numPeopleBenefited=$("#numberofpeoplebenefited").val();
          formData.transDate=$("#transactiondate").val();
          formData.transOwner=$("#transactionowner").val();
          formData.gender=$('option:selected','#gender').val();
          formData.age=$("#age").val();

      $.ajax({

        url:"../beneficiary/create"
        type:"POST",
        data:{
          loadProds:1,
          details:formData
         },
        dataType:"json",
        success:function(){
          refresh="true";
          alert("success");
        },
        error:function(){
          alert("error");
        },
        async:false
      }); // end of ajax call adding to db

       if(refresh=="true")
          e.preventDefault();
    }); // end of submit 

  });
</script>
</html>
